body {
    background-color: rgba(132, 169, 189, 0.858);
    font-family: Arial, Helvetica, sans-serif;
}

/* .header {
    text-align: center;
} */

.inline-button {
    padding: 0%;
    display: inline;
}

.hide {
    display: none;
}

.disabled:disabled{
    background-color: gray;
}

.makered {
    color: red;
}

.tm-img {
    max-width: 15%;
    height: auto;
}