{% extends 'index.html' %}

{% block title %}Account{% endblock %}

{% block content %}

<div class="dark-bg-light">

    <nav class="navbar navbar-custom sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <sub><i class="material-icons">home</i></sub>SeeDo
            </a>
            <div>
                <span class="whitesmoke">
                    Hello, {{ user.username.title() }} 
                </span>
                <sub><i class="material-icons">account_circle</i></sub>
                <a href="/goodbye">Logout</a>
                <sub><i class="material-icons">logout</i></sub>
            </div>
        </div>
    </nav>

    <br>

    <!-- USER'S CREATED PLANS SECTION -->
    <div class="container-fluid pretty-box center">
        <h2 class="neonText">My Plans</h2>
        <br>
        {% for plan in plans %}
            <ol class="inline-button">
                <a href="/plan/{{ plan.plan_id }}">
                    <button class="btn btn-outline-light">
                        {% if plan.overview == None %}
                            Untitled
                        {% else %}
                            {{ plan.overview }}
                        {% endif %}
                    </button>
                </a>
            </ol>
        {% endfor %}
        <br><br>
        <form class="d-flex justify-content-center" action="/user/{{ user.user_id }}" method="POST">
            <select class="form-select" name="citynames" id="city-select">
                {% for place in all_locations %}
                    <option value="{{ place.location_id }}">{{ place.cityname }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-outline-light" value="Create plan">
        </form>
    </div>

    <hr>

    <!-- USER'S LIKED EVENTS LIST -->
    <div class="container-fluid center">
        <h2 class="neonText">Liked events</h2>
        <dd class="neonText">Hover over image to scroll left or right.</dd>

        <!-- displays all the user's liked events to be scrolled horizontally -->
        <div class="horizontal-scroll">
            {% for event in event_list %}
                <div class="image scroll-column">
                    {% if event.image %}
                        <img class="image__img img-thumbnail rounded" src="{{ event.image }}" alt="image of event">
                    {% else %}
                        <img class="image__img img-thumbnail rounded" src="static/img/event.jpeg" alt="default image of event">
                    {% endif %}
                    <div class="image__overlay image__overlay--blur">
                        <p class="image__description word-clip">
                            <a href="/event/{{ event.event_id }}" title="{{ event.overview }}">
                                {{ event.overview }}
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br><br><br>

</div>
{% endblock %}