{% extends 'index.html' %}

{% block title %}User's page{% endblock %}

{% block content %}

<h1>
    ✨Account details page✨
</h1>

<div>
    <h3>Created plans list</h3>
    <a href="/plan">
        <button>plan #124</button>
        <button>plan #125</button>
        <button>plan #126</button>
    </a>
</div>
<div>
    <h3>Liked/saved plans list</h3>
    <a href="/">
        <button>plan #114</button>
        <button>plan #115</button>
        <button>plan #116</button>
    </a>
</div>

{% endblock %}