{% extends 'index.html' %}

{% block title %}Account{% endblock %}

{% block content %}

<h1 class="header">
    ✨Account Details✨
</h1>

<a href="/"><button>Take me 🏠</button></a>

<div>
    <h3>Created plans list</h3>
        {% for plan in plans %}
            <ol class="inline-button">
                <a href="/plan/{{ plan.plan_id }}"><button>Plan id#{{ plan.plan_id }}</button></a>
            </ol>
        {% endfor %}
        <br><br>
        <form action="/user/{{ user.user_id }}" method="POST">
            <input type="text" name="location_id" placeholder="location_id for new plan">
            <input type="submit" value="+">
        </form>
</div>
<div>
    <h3>Bookmarked event list</h3>
        🔖<ul></ul>
</div>

{% endblock %}