{% extends 'index.html' %}

{% block title %}Event details{% endblock %}

{% block content %}


    <nav class="navbar sticky-top navbar-light bg-light bg-opacity-75">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <sub><i class="material-icons">home</i></sub>Home
            </a>
            <div>
                <a class="navb" href="javascript:history.back()">Go Back</a>
                <sub class="navbar-brand"><i class="material-icons">arrow_back</i></sub>
            </div>
        </div>
    </nav>

    <br>

    <div class="container-fluid">

        <h3>Event ID#{{ event.event_id }}</h3>
        <h4>Overview: {{ event.overview }}</h4>

        <div class="liked-response"></div>
        💖<span id="like-counter">{{ likes }}</span>
        {% if "current_user" in session  %}
            {% if like_count == 0 %}
                <button value="{{ event.event_id }}" class="btn btn-light btn-sm like-button">give ♥️</button>
            {% else %}
                Liked
            {% endif %}
        {% endif %}  

        <!-- maybe include google maps api for the exact location of destinations -->
        <p>- Location details:  {{ location[0] }}, {{ location[1] }}</p>
        <p>- Starts: {{ event.datetime.strftime('%d, %b %Y') }}</p>

        {% if event.image %}
            <div>
                <img class="image img-thumbnail rounded" src="{{ event.image }}" alt="Event image">
            </div>
        {% else %}
            <img class="image__img img-thumbnail rounded" src="static/img/event.jpeg" alt="default image of event">
        {% endif %}

        <br>

        <form action="/event/{{ event.event_id }}/add" method="POST">
            <!-- this jinja statement hides this section from guests browsing event search results  -->
            <div class="relevant-items d-flex">
                {% if "current_user" in session %}
                    <select name="plans" class="dropdown-items">
                        {% for plan in user_plans %}
                            <option value="{{ plan.plan_id }}">
                                {% if plan.overview == None %}
                                    Untitled
                                {% else %}
                                    {{ plan.overview }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="add to plan">
                {% endif %}  
            </div>
        </form>
        

        <br><br><br>

    </div>
        


{% endblock %}