{% extends 'index.html' %}

{% block title %}Lisa's Homepage{% endblock %}

{% block content %}

<h1>Hello</h1>

<div>
    {% if "current_user" not in session %}
        <form action="/handle-login" method="POST">
            <label>Email:</label>
            <input type="text" name="email">
            <label>Password:</label>
            <input type="text" name="password">
            <input type="submit" value="Login">
        </form>  

        <form class="login-user" action="/new">
        <label>New User?</label>
        <input type="submit" value="Register">
        </form>
    {% endif %}
    {% if "current_user" in session %}
        <h3>
            Welcome, {{ session['current_user'] }} 
            <a href="/goodbye"><button>Logout</button></a>
        </h3>
        <h3>Navigation</h3>
        <ul>
            <li><a href="/user{{ user.user_id }}">View your account details</a></li>
        </ul>
    {% endif %}
</div>

<hr class="div-line"></hr>

<div id="home-events-section">
    {% for event in events %}
        <div id="event-overview">
            {{ event.overview }}
            <button id="event-box-adder">Add to plan</button> 
        </div>
    {% endfor %}     
</div>



{% endblock %}