{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- NAVBAR -->
    <nav class="navbar navbar-custom sticky-top border-bottom border-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <sub><i class="material-icons">home</i></sub>SeeDo
            </a>
            <div>
                {% if "current_user" not in session %}
                    <form action="/handle-login" method="POST">
                        <label class="col-form-label light">Email</label>
                        <input type="text" name="email" required>
                        <label class="col-form-label light">Password</label>
                        <input type="password" name="password" required>
                        <input class="btn btn-outline-light btn-sm" type="submit" value="Login">
                        <span id="new-user" class="form-text">
                            <a href="/new">Sign Up</a>
                        </span>
                    </form>  
                {% endif %}
                {% if "current_user" in session %}
                    <span class="whitesmoke">
                        Hello, {{ user.username.title() }} 
                    </span>
                    <a href="/user/{{ user.user_id }}">View Account</a>
                    <sub><i class="material-icons">account_circle</i></sub>
                    <a href="/goodbye">Logout</a>
                    <sub><i class="material-icons">logout</i></sub>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="flash-msg">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <span class="shadow-sm p-1 bg-body bg-opacity-75 rounded">{{ message }}</span>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
        
    <!-- SEARCH BAR -->
    <div id="search-bar" class="search-bar">
        <form class="d-flex justify-content-center" action="/search">
            <select class="form-select" name="city">
                {% for location in locations %}
                    <option value="{{ location.cityname }}">{{ location.cityname }}</option>
                {% endfor %}
            </select>
            <input class="form-control" type="text" name="keyword" placeholder="keyword">
            <input class="form-control" type="date" name="date" placeholder="yyyy-mm-dd">
            <input class="btn btn-outline-light btn-lg" type="submit" value="Search for events" name="search-button" id="search-button">
        </form>
    </div>

    <!-- GENERATED EVENTS FROM DB -->
    <div id="home-events-section" class="container-fluid">
        <div class="event-item row align-items-start justify-content-center">
            {% for event in events %}
                <div class="image">
                    {% if event.image %}
                        <img class="image__img img-thumbnail rounded" src="{{ event.image }}" alt="image of event">
                    {% else %}
                        <img class="image__img img-thumbnail rounded" src="static/img/event.jpeg" alt="default image of event">
                    {% endif %}
                    <!-- IMAGE OVERLAY TEXT & EFFECT -->
                    <div class="image__overlay image__overlay--blur">
                        <div class="image__title">
                            <sub><i class="material-icons">favorite</i></sub>
                            <span id="like-counter">
                                {{ likes[loop.index-1] }}
                            </span>
                        </div>
                        <p class="image__description center">
                            <a href="/event/{{ event.event_id }}">
                                {{ event.overview }}
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}   
        </div>
    </div>

    <br><br><br>


{% endblock %}