{% extends 'index.html' %}

{% block title %}Welcome to Lisa's App!{% endblock %}

{% block content %}

<h1>Welcome !</h1>
<div>
  <form action="/handle-login" method="POST">
      <label>Email:</label><br>
      <input type="text" name="email"><br>
      <label>Password:</label><br>
      <input type="text" name="password"><br>
      <input type="submit" value="Login"><br><br>
  </form>
</div>

<div>
  <form action="/new">
    <label>New User?</label>
    <input type="submit" value="Register">
  </form>
</div>


{% endblock %}