{% extends 'index.html' %}

{% block title %}My Plan{% endblock %}

{% block content %}

<h1>✨Plan id#{{ plan.plan_id }}✨</h1>

<h3>
    <!-- TODO: make this a textarea so user can customize their own description for plan -->
    Overview: {{ plan.overview }}
</h3>

<p>- Location: {{ location[0] }}</p>
<p>- Event details:
    <ol id="event-list">
        {% for event in events %}
            <li>
                {{ event.overview }} 📅 [{{ event.datetime.strftime('%d, %b %Y') }}]
            </li>
        {% endfor %}
    </ol>

</p>

<!-- TO BE IMPLEMENTED -->
<!-- <form action="/plan/{{ plan.plan_id }}" method="POST">
    <input type="text" id="event-item">
    <button id="event-adder">Custom event</button> 
</form> -->
<!-- MVP FEATURE -->
<form action="/plan/{{ plan.plan_id }}" method="POST">
    <select name="dropdown-event" id="dropdown-event">
        {% for item in db_events %}
            {% if item not in events %} <!--checks only for events not already on plan list-->
                <option value="{{ item.event_id }}">{{ item.overview }}</option>
            {% endif %}    
        {% endfor %}
    </select>
    <button id="dropdown-event-adder">Add event</button> 
</form>

<hr class="div-line">

<div>
    <a href="/">
        <button>Home🏠</button>
    </a>
    <!-- FIXME take user back to previous page and not previous click-->
    <form> 
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
</div>
    

{% endblock %}