{% extends 'index.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <nav class="navbar navbar-custom sticky-top border-bottom border-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            <sub><i class="material-icons">home</i></sub>SeeDo
            </a>
            <div>
                {% if "current_user" not in session %}
                    <form action="/handle-login" method="POST">
                        <label class="col-form-label">Email</label>
                        <input type="text" name="email" required>
                        <label class="col-form-label">Password</label>
                        <input type="password" name="password" required>
                        <input type="submit" value="Login">
                    </form>  
                {% endif %}
            </div>
        </div>
    </nav>

    <br><br>

    <div class="container-fluid pretty-box image__overlay--blur center">
        <h1 class="neonText">Register Here!</h1>

        <div class="center">
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <br>
        <div class="d-flex justify-content-center">
            <form action="/new" method="POST">
                <label class="form-label">Username</label>
                <input
                    class="form-control" 
                    type="text" 
                    name="username" required><br>
                <label class="form-label">Email</label>
                <input
                    class="form-control" 
                    type="email" 
                    name="email" 
                    placeholder="ex: user@gmail.com" required><br>
                <label class="form-label">Password</label>
                <input 
                    class="form-control" 
                    type="password" 
                    name="password" required><br>
                <br>
                <input 
                    type="submit" 
                    class="btn btn-outline-light" 
                    value="Submit"><br>
                <br>
            </form>
        </div>
    </div> 


{% endblock %}