{% extends 'index.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <nav class="navbar navbar-custom sticky-top border-bottom border-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            <sub><i class="material-icons">home</i></sub>Home
            </a>
            <div>
                {% if "current_user" not in session %}
                    <form action="/handle-login" method="POST">
                        <label class="col-form-label">Email</label>
                        <input type="text" name="email" required>
                        <label class="col-form-label">Password</label>
                        <input type="password" name="password" required>
                        <input type="submit" value="Login">
                    </form>  
                {% endif %}
            </div>
        </div>
    </nav>

    <br><br>

    <div>
        <h2 class="center">Register Here!</h2>

        <div class="center">
            <form action="/new" method="POST">
            <div class="mb-2">
                <label class="form-label">Username</label><br>
                <input type="text" name="username" required><br>
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label><br>
                <input type="text" name="email" required><br>
            </div>
                <div class="mb-2">
                <label class="form-label">Password</label><br>
                <input type="password" name="password" required><br><br>
            </div>
            <input type="submit" class="btn btn-light" value="Submit"><br><br>
            </form>
        </div>
    </div> 


{% endblock %}