{% extends 'index.html' %}

{% block title %}Event Search{% endblock %}

{% block content %}

<div id="event-search-results">
<h2>Event Search Results</h2>
</div>

<a href="/"><button>Take me 🏠</button></a>


<ul class="events-list list-group">
    {% for key in results.keys() %}
            <a href="{{ results[key][0] }}"><h4>{{ key }}</h4></a>
            <form class="searchevent" action="/CreateAddEvent" method="POST">
                <ul><span><img class="tm-img" src="{{ results[key][1] }}" alt="image of event"></span></ul>
                <ul><span><b>City: </b>{{ results[key][3] }}</span></ul>
                <ul><span><b>Date: </b>{{ results[key][4] }}</span></ul>    
                <ul><span><b>Venue: </b>{{ results[key][2] }}</span></ul>

                <input type="text" name="overview" value="{{ key }}" hidden>
                <input type="text" name="city" value="{{ results[key][3] }}" hidden>
                <input type="text" name="datetime" value="{{ results[key][4] }}" hidden>
                
                <select name="plans">
                    {% for plan in user_plans %}
                        <option value="{{ plan.plan_id }}">{{ plan.overview }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="add">
            </form>
    {% endfor %}
</ul>

{% endblock %}

